@import 'reset';

/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1140,16,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6, */

:root {
  --step--2: clamp(0.64rem, calc(0.72rem + -0.11vw), 0.69rem);
  --step--1: clamp(0.8rem, calc(0.85rem + -0.06vw), 0.83rem);
  --step-0: clamp(1rem, calc(1rem + 0vw), 1rem);
  --step-1: clamp(1.2rem, calc(1.18rem + 0.1vw), 1.25rem);
  --step-2: clamp(1.44rem, calc(1.39rem + 0.24vw), 1.56rem);
  --step-3: clamp(1.73rem, calc(1.64rem + 0.44vw), 1.95rem);
  --step-4: clamp(2.07rem, calc(1.93rem + 0.72vw), 2.44rem);
  --step-5: clamp(2.49rem, calc(2.27rem + 1.1vw), 3.05rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1140,16,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6, */

:root {
  --space-3xs: clamp(0.25rem, calc(0.25rem + 0vw), 0.25rem);
  --space-2xs: clamp(0.5rem, calc(0.5rem + 0vw), 0.5rem);
  --space-xs: clamp(0.75rem, calc(0.75rem + 0vw), 0.75rem);
  --space-s: clamp(1rem, calc(1rem + 0vw), 1rem);
  --space-m: clamp(1.5rem, calc(1.5rem + 0vw), 1.5rem);
  --space-l: clamp(2rem, calc(2rem + 0vw), 2rem);
  --space-xl: clamp(3rem, calc(3rem + 0vw), 3rem);
  --space-2xl: clamp(4rem, calc(4rem + 0vw), 4rem);
  --space-3xl: clamp(6rem, calc(6rem + 0vw), 6rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.15rem + 0.49vw), 0.5rem);
  --space-2xs-xs: clamp(0.5rem, calc(0.4rem + 0.49vw), 0.75rem);
  --space-xs-s: clamp(0.75rem, calc(0.65rem + 0.49vw), 1rem);
  --space-s-m: clamp(1rem, calc(0.8rem + 0.98vw), 1.5rem);
  --space-m-l: clamp(1.5rem, calc(1.3rem + 0.98vw), 2rem);
  --space-l-xl: clamp(2rem, calc(1.61rem + 1.95vw), 3rem);
  --space-xl-2xl: clamp(3rem, calc(2.61rem + 1.95vw), 4rem);
  --space-2xl-3xl: clamp(4rem, calc(3.22rem + 3.9vw), 6rem);

  /* Custom pairs */
}

:root {
  // base
  --color-black: #000;
  --color-red: #ff0000;
  --color-white: #fff;
  // brand
  --color-copy-hue: 0;
  --color-copy-saturation: 0%;
  --color-copy-lightness: 17%;
  --color-copy: hsl(
    var(--color-copy-hue),
    var(--color-copy-saturation),
    var(--color-copy-lightness)
  );
  --color-copy-very-light: hsl(
    var(--color-copy-hue),
    var(--color-copy-saturation),
    80%
  );
  --color-secondary-hue: 205;
  --color-secondary-saturation: 45%;
  --color-secondary-lightness: 33%;
  --color-secondary: hsl(
    var(--color-secondary-hue),
    var(--color-secondary-saturation),
    var(--color-secondary-lightness)
  );
  --color-secondary-light: hsl(
    var(--color-secondary-hue),
    var(--color-secondary-saturation),
    calc(var(--color-secondary-lightness) * 1.2)
  );
  --color-primary-hue: 80;
  --color-primary-saturation: 85%;
  --color-primary-lightness: 30%;
  --color-primary: hsl(
    var(--color-primary-hue),
    var(--color-primary-saturation),
    var(--color-primary-lightness)
  );
  --color-primary-light: hsl(
    var(--color-primary-hue),
    var(--color-primary-saturation),
    calc(var(--color-primary-lightness) * 1.2)
  );
  --color-tertiary-hue: 205;
  --color-tertiary-saturation: 49%;
  --color-tertiary-lightness: 93%;
  --color-tertiary: hsl(
    var(--color-tertiary-hue),
    var(--color-tertiary-saturation),
    var(--color-tertiary-lightness)
  );
}

html,
body {
  color: var(--color-copy);
  font-size: var(--step-0);
}

h1,
h2 {
  margin: 0 0 var(--space-s);
}

a {
  border-bottom: 1px solid inherit;
  color: var(--color-secondary);
  text-decoration: none;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }

//   body {
//     color: var(--color-white);
//     background: var(--color-copy);
//   }
// }
