@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.loading-dots {
  display: inline-flex;
  align-items: center;
  text-align: center;
}

.loading-dots-dot {
  width: 4px;
  height: 4px;
  background-color: currentColor;
  border-radius: 100%;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;

  &:nth-of-type(2) {
    animation-delay: 0.2s;
  }

  &:nth-of-type(3) {
    animation-delay: 0.4s;
  }

  & + & {
    margin-left: 3px;
  }
}
